# Badge Attendance Dataset – DataFrame Version

In [1]:
import pandas as pd
import random
from datetime import datetime,timedelta
from faker import Faker

fake=Faker()

In [2]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp313-cp313-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anany\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anany\miniconda3\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\anany\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.0 MB 7.5 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/11.0 MB 7.8 MB/s eta 0:00:02
   ------------------- -------------------- 5.2/11.0 MB 8.3 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 8.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 8.7 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 8.8 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 8.4 MB/s  0:00:01
Downloading numpy-2.4.1-cp313-cp313-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/12.3 MB 5.8 MB/s eta 0:00:02
   ----- ---------------------------------- 1.8/12.3 MB 4.8 MB/s eta 0:00:03
   ------ --------------------------------- 2.1/12.3 MB 4.4 MB/s eta 0:00:03
   --------- ------------------------------ 2.9/12.3 MB 3.4 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/12.3 MB 3.4 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/12.3 MB 2.8 MB/s eta 0:00:04
   ----------- ---------------------------- 3.4/12.3 MB 2.8 MB/s eta 0:00:04
   ----------- ---------------------------- 3.7/12.3 MB 2.2 MB/s eta 0:00:04
   ------------ --------------------------- 3.9/12.3 MB 1.9 MB/s eta 0:00:05
   ------------ --------------------------- 3.9/12.3 MB 1.9 MB/s eta 0:00:05
   ------------ --------------------------- 3.9/12.3 MB 1.9 MB/s eta 0:00:05
   ------------ --------------------------- 3.9/12.3 MB 1.9 MB/s eta 0:00:05
   ------------ --------------------------- 3.9/12.3 MB 1.9 MB/s eta 0:00:05
   ------------- -------------------------- 4.2/12.3 MB 1.4 MB/s eta 0:00:06
   ------------- -------------------------- 4.2/12.3 MB 1.4 MB/s eta 0:00:06
   ------------- -------------------------- 4.2/12.3 MB 1.4 MB/s eta 0:00:06
   -------------- ------------------------- 4.5/12.3 MB 1.2 MB/s eta 0:00:07
   --------------- ------------------------ 4.7/12.3 MB 1.1 MB/s eta 0:00:07
   --------------- ------------------------ 4.7/12.3 MB 1.1 MB/s eta 0:00:07
   ---------------- ----------------------- 5.0/12.3 MB 1.1 MB/s eta 0:00:07
   ----------------- ---------------------- 5.2/12.3 MB 1.1 MB/s eta 0:00:07
   ----------------- ---------------------- 5.2/12.3 MB 1.1 MB/s eta 0:00:07
   ----------------- ---------------------- 5.5/12.3 MB 1.1 MB/s eta 0:00:07
   ------------------- -------------------- 6.0/12.3 MB 1.1 MB/s eta 0:00:06
   -------------------- ------------------- 6.3/12.3 MB 1.1 MB/s eta 0:00:06
   --------------------- ------------------ 6.6/12.3 MB 1.1 MB/s eta 0:00:06
   ---------------------- ----------------- 6.8/12.3 MB 1.1 MB/s eta 0:00:05
   ---------------------- ----------------- 6.8/12.3 MB 1.1 MB/s eta 0:00:05
   ----------------------- ---------------- 7.1/12.3 MB 1.1 MB/s eta 0:00:05
   ----------------------- ---------------- 7.3/12.3 MB 1.1 MB/s eta 0:00:05
   ----------------------- ---------------- 7.3/12.3 MB 1.1 MB/s eta 0:00:05
   ------------------------ --------------- 7.6/12.3 MB 1.1 MB/s eta 0:00:05
   ------------------------ --------------- 7.6/12.3 MB 1.1 MB/s eta 0:00:05
   ------------------------- -------------- 7.9/12.3 MB 1.0 MB/s eta 0:00:05
   -------------------------- ------------- 8.1/12.3 MB 1.0 MB/s eta 0:00:05
   --------------------------- ------------ 8.4/12.3 MB 1.1 MB/s eta 0:00:04
   ---------------------------- ----------- 8.9/12.3 MB 1.1 MB/s eta 0:00:04
   ----------------------------- ---------- 9.2/12.3 MB 1.1 MB/s eta 0:00:03
   -------------------------------- ------- 10.0/12.3 MB 1.1 MB/s eta 0:00:03
   --------------------------------- ------ 10.2/12.3 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 10.7/12.3 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 11.3/12.3 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 11.5/12.3 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  12.1/12.3 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 12.3/12.3 MB 1.3 MB/s  0:00:09
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas

   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed numpy-2.4.1 pandas-2.3.3 pytz-2025.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Students DataFrame (master data)
students_df = pd.DataFrame(columns=[
    "student_id",
    "badge_id",
    "name",
    "department",
    "year_or_sem"
])

# Badge events DataFrame (transactional data)
badge_events_df = pd.DataFrame(columns=[
    "event_id",
    "badge_id",
    "event_time",
    "event_type"
])

In [3]:
students_df.head(), badge_events_df.head()

(Empty DataFrame
 Columns: [student_id, badge_id, name, department, year_or_sem]
 Index: [],
 Empty DataFrame
 Columns: [event_id, badge_id, event_time, event_type]
 Index: [])

In [4]:
NUM_STUDENTS = 2000

departments = ["Engineering", "Science", "Business", "Arts", "Medicine", "Law"]
years = ["1st Year", "2nd Year", "3rd Year", "4th Year"]

students_data = []

for i in range(NUM_STUDENTS):
    students_data.append({
        "student_id": i + 1,
        "badge_id": f"BADGE{i:06d}",
        "name": fake.name(),
        "department": random.choice(departments),
        "year_or_sem": random.choice(years)
    })

# Insert into DataFrame
students_df = pd.concat([students_df, pd.DataFrame(students_data)], ignore_index=True)

In [5]:
students_df.head()

  student_id     badge_id                name department year_or_sem
0          1  BADGE000000     Felicia Merritt   Business    3rd Year
1          2  BADGE000001         Jeffrey Ray   Business    1st Year
2          3  BADGE000002     Lisa Villanueva   Business    2nd Year
3          4  BADGE000003          Jacob Hall       Arts    3rd Year
4          5  BADGE000004  Christopher Mathis   Medicine    4th Year

In [6]:
len(students_df)

2000

In [7]:
from datetime import datetime, timedelta
import random

# TARGET
TARGET_ROWS = 1_000_000
BATCH_SIZE = 50_000   # safe for Pandas

NUM_DAYS = 220
SESSIONS_PER_DAY_MIN = 2
SESSIONS_PER_DAY_MAX = 4
WORK_START_HOUR = 8
WORK_END_HOUR = 17

start_date = datetime(2024, 9, 1)

badge_ids = students_df["badge_id"].tolist()

event_id = 1
total_rows = 0
batch_no = 0

while total_rows < TARGET_ROWS:

    events_batch = []

    day = random.randint(0, NUM_DAYS - 1)
    current_date = start_date + timedelta(days=day)

    students_today = random.sample(
        badge_ids,
        random.randint(800, 1600)
    )

    for badge in students_today:

        if total_rows >= TARGET_ROWS:
            break

        sessions = random.randint(
            SESSIONS_PER_DAY_MIN,
            SESSIONS_PER_DAY_MAX
        )

        for _ in range(sessions):

            if total_rows >= TARGET_ROWS:
                break

            # IN
            in_hour = random.randint(WORK_START_HOUR, WORK_END_HOUR - 1)
            in_min = random.randint(0, 59)

            in_time = current_date.replace(
                hour=in_hour, minute=in_min,
                second=0, microsecond=0
            )

            events_batch.append({
                "event_id": event_id,
                "badge_id": badge,
                "event_time": in_time,
                "event_type": "IN"
            })
            event_id += 1
            total_rows += 1

            if total_rows >= TARGET_ROWS:
                break

            # OUT
            out_hour = min(in_hour + random.randint(1, 6), WORK_END_HOUR - 1)
            out_min = random.randint(0, 59)

            out_time = current_date.replace(
                hour=out_hour, minute=out_min,
                second=0, microsecond=0
            )

            if out_time <= in_time:
                out_time = in_time + timedelta(hours=1)

            events_batch.append({
                "event_id": event_id,
                "badge_id": badge,
                "event_time": out_time,
                "event_type": "OUT"
            })
            event_id += 1
            total_rows += 1

            if len(events_batch) >= BATCH_SIZE:
                break

        if len(events_batch) >= BATCH_SIZE:
            break

    badge_events_df = pd.concat(
        [badge_events_df, pd.DataFrame(events_batch)],
        ignore_index=True
    )

    batch_no += 1
    print(f"Batch {batch_no} inserted — Total rows: {total_rows}")

print("\nDONE — Final rows:", len(badge_events_df))

C:\Users\anany\AppData\Local\Temp\ipykernel_47584\3875697529.py:97: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  badge_events_df = pd.concat(

Batch 1 inserted — Total rows: 6260
Batch 2 inserted — Total rows: 12286
Batch 3 inserted — Total rows: 18896
Batch 4 inserted — Total rows: 27718
Batch 5 inserted — Total rows: 33970
Batch 6 inserted — Total rows: 39318
Batch 7 inserted — Total rows: 48018
Batch 8 inserted — Total rows: 55498
Batch 9 inserted — Total rows: 64922
Batch 10 inserted — Total rows: 72936
Batch 11 inserted — Total rows: 77824
Batch 12 inserted — Total rows: 83788
Batch 13 inserted — Total rows: 93184
Batch 14 inserted — Total rows: 98278
Batch 15 inserted — Total rows: 103216
Batch 16 inserted — Total rows: 110908
Batch 17 inserted — Total rows: 120358
Batch 18 inserted — Total rows: 125764
Batch 19 inserted — Total rows: 134354
Batch 20 inserted — Total rows: 140180
Batch 21 inserted — Total rows: 148560
Batch 22 inserted — Total rows: 154772
Batch 23 inserted — Total rows: 163584
Batch 24 inserted — Total rows: 169406
Batch 25 inserted — Total rows: 177140
Batch 26 inserted — Total rows: 185730
Batch 27 inserted — Total rows: 190944
Batch 28 inserted — Total rows: 197346
Batch 29 inserted — Total rows: 206370
Batch 30 inserted — Total rows: 213438
Batch 31 inserted — Total rows: 220822
Batch 32 inserted — Total rows: 229672
Batch 33 inserted — Total rows: 237042
Batch 34 inserted — Total rows: 245992
Batch 35 inserted — Total rows: 254734
Batch 36 inserted — Total rows: 263242
Batch 37 inserted — Total rows: 272400
Batch 38 inserted — Total rows: 278642
Batch 39 inserted — Total rows: 287846
Batch 40 inserted — Total rows: 296990
Batch 41 inserted — Total rows: 303454
Batch 42 inserted — Total rows: 309924
Batch 43 inserted — Total rows: 317694
Batch 44 inserted — Total rows: 324036
Batch 45 inserted — Total rows: 331464
Batch 46 inserted — Total rows: 338296
Batch 47 inserted — Total rows: 343442
Batch 48 inserted — Total rows: 350512
Batch 49 inserted — Total rows: 358560
Batch 50 inserted — Total rows: 363446
Batch 51 inserted — Total rows: 370666
Batch 52 inserted — Total rows: 375938
Batch 53 inserted — Total rows: 383580
Batch 54 inserted — Total rows: 392634
Batch 55 inserted — Total rows: 399148
Batch 56 inserted — Total rows: 404088
Batch 57 inserted — Total rows: 411030
Batch 58 inserted — Total rows: 416402
Batch 59 inserted — Total rows: 423448
Batch 60 inserted — Total rows: 429390
Batch 61 inserted — Total rows: 437990
Batch 62 inserted — Total rows: 446412
Batch 63 inserted — Total rows: 451536
Batch 64 inserted — Total rows: 459422
Batch 65 inserted — Total rows: 465506
Batch 66 inserted — Total rows: 475016
Batch 67 inserted — Total rows: 481452
Batch 68 inserted — Total rows: 487352
Batch 69 inserted — Total rows: 495658
Batch 70 inserted — Total rows: 502980
Batch 71 inserted — Total rows: 510666
Batch 72 inserted — Total rows: 520052
Batch 73 inserted — Total rows: 528734
Batch 74 inserted — Total rows: 534594
Batch 75 inserted — Total rows: 540828
Batch 76 inserted — Total rows: 546846
Batch 77 inserted — Total rows: 552370
Batch 78 inserted — Total rows: 558562
Batch 79 inserted — Total rows: 564508
Batch 80 inserted — Total rows: 573684
Batch 81 inserted — Total rows: 579794
Batch 82 inserted — Total rows: 587474
Batch 83 inserted — Total rows: 593638
Batch 84 inserted — Total rows: 599176
Batch 85 inserted — Total rows: 607550
Batch 86 inserted — Total rows: 612878
Batch 87 inserted — Total rows: 619830
Batch 88 inserted — Total rows: 628536
Batch 89 inserted — Total rows: 635582
Batch 90 inserted — Total rows: 644890
Batch 91 inserted — Total rows: 651216
Batch 92 inserted — Total rows: 659930
Batch 93 inserted — Total rows: 669202
Batch 94 inserted — Total rows: 678738
Batch 95 inserted — Total rows: 685666
Batch 96 inserted — Total rows: 690670
Batch 97 inserted — Total rows: 697780
Batch 98 inserted — Total rows: 707334
Batch 99 inserted — Total rows: 713912
Batch 100 inserted — Total rows: 719542
Batch 101 inserted — Total rows: 728922
Batch 102 inserted — Total rows: 737374
Batch 103 inserted — Total rows: 744642
Batch 104 inserted — Total rows: 752682
Batch 105 inserted — Total rows: 761856
Batch 106 inserted — Total rows: 767274
Batch 107 inserted — Total rows: 776270
Batch 108 inserted — Total rows: 782940
Batch 109 inserted — Total rows: 787838
Batch 110 inserted — Total rows: 797240
Batch 111 inserted — Total rows: 805586
Batch 112 inserted — Total rows: 811816
Batch 113 inserted — Total rows: 817374
Batch 114 inserted — Total rows: 825988
Batch 115 inserted — Total rows: 831106
Batch 116 inserted — Total rows: 838572
Batch 117 inserted — Total rows: 843620
Batch 118 inserted — Total rows: 850222
Batch 119 inserted — Total rows: 859418
Batch 120 inserted — Total rows: 867070
Batch 121 inserted — Total rows: 872614
Batch 122 inserted — Total rows: 880366
Batch 123 inserted — Total rows: 887786
Batch 124 inserted — Total rows: 896586
Batch 125 inserted — Total rows: 902442
Batch 126 inserted — Total rows: 908914
Batch 127 inserted — Total rows: 914196
Batch 128 inserted — Total rows: 919284
Batch 129 inserted — Total rows: 925912
Batch 130 inserted — Total rows: 934798
Batch 131 inserted — Total rows: 942890
Batch 132 inserted — Total rows: 949842
Batch 133 inserted — Total rows: 958926
Batch 134 inserted — Total rows: 967092
Batch 135 inserted — Total rows: 976218
Batch 136 inserted — Total rows: 984958
Batch 137 inserted — Total rows: 990102
Batch 138 inserted — Total rows: 996152
Batch 139 inserted — Total rows: 1000000

DONE — Final rows: 1000000

In [8]:
badge_events_df.head()

  event_id     badge_id          event_time event_type
0        1  BADGE001633 2024-11-07 10:44:00         IN
1        2  BADGE001633 2024-11-07 15:52:00        OUT
2        3  BADGE001633 2024-11-07 09:00:00         IN
3        4  BADGE001633 2024-11-07 14:08:00        OUT
4        5  BADGE001633 2024-11-07 14:41:00         IN

In [9]:
badge_events_df["event_type"].value_counts()

event_type
IN     500000
OUT    500000
Name: count, dtype: int64

In [10]:
badge_events_df[badge_events_df["badge_id"] == "BADGE000123"].head()

     event_id     badge_id          event_time event_type
3320     3321  BADGE000123 2024-11-07 16:08:00         IN
3321     3322  BADGE000123 2024-11-07 17:08:00        OUT
3322     3323  BADGE000123 2024-11-07 08:20:00         IN
3323     3324  BADGE000123 2024-11-07 09:48:00        OUT
3324     3325  BADGE000123 2024-11-07 15:22:00         IN

In [11]:
badge_events_df[badge_events_df["event_type"] == "IN"].head()

  event_id     badge_id          event_time event_type
0        1  BADGE001633 2024-11-07 10:44:00         IN
2        3  BADGE001633 2024-11-07 09:00:00         IN
4        5  BADGE001633 2024-11-07 14:41:00         IN
6        7  BADGE001633 2024-11-07 08:50:00         IN
8        9  BADGE001812 2024-11-07 15:06:00         IN